*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input{
    width: 80%;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
}

button{
    padding: 15px;
    font-size: 18px;
    border: none;
    background: #3498db;
    cursor: pointer;
    border-radius: 7px;
}

button:hover{
    background: #2980b9;
}

.equal:hover{
    background: #2ecc71;
}

.cleare:hover{
    background: red;
}